ion-card {
  text-align: center;
  margin: 20px;
}

ion-card-content {
  color: #ffffff;
  background-color: #53d0e9;
}

ion-card-header {
  font-family: monospace;
  color: rgb(255, 255, 255);
  background-color: #53d0e9;
}

ion-icon {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin-top: 5px;
  font-family: "Courier New", Courier, monospace;
}

ion-item {
  margin-top: 20px;
}

ion-button {
  margin-top: 10px;
  background-color: rgb(149, 195, 255);
  color: rgb(253, 253, 253);
}

ion-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

ion-content {
  --background: #ffffff;
}