<ion-header>
  <ion-toolbar>
    <ion-title> Cuaca </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header> Cuaca saat ini di {{ cityName }} </ion-card-header>
    <ion-card-content>
      <ion-icon [name]="weatherIcon" size="large"></ion-icon>
      <h2>{{weatherData.main?.temp}}°C</h2>
      <p>{{weatherData.weather?.[0]?.description}}</p>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label position="floating">Cari Nama Kota</ion-label>
    <ion-input [(ngModel)]="cityName" (ionChange)="searchWeather()"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="searchWeather()">cari </ion-button>
</ion-content>